body {
    background-color: #f9e5e5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1370px;
    margin: 0px auto;
    position: relative;
}

.header-logo {
    width: 35px;
    height: 35px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-right: 0;;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}

.nav-item {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}

.center {
    text-align: center;
}

.nav-item:before {
    content: '';
    width: 2px;
    display: block;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0px;
}

.nav-item:first-child::before {
    display: none;
}

.nav-item:first-child {
    padding-left: 0px;
    margin-left: 0px;
}

.nav-item_link {
    text-decoration: none;
    color: #484849;
    font-size: 22px;
}

.nav-item_link:hover {
    color: #5959ee;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 260px;
    padding-bottom: 285px;
}

.banner-camera {
    position: absolute;
    right: 0px;
    top: -80px;
}

.banner-title {
    font-size: 44px;
    font-weight: 800;
}

.banner-desc { 
    font-size: 25px;
    line-height: 46px;
    max-width: 570px;   
}

.banner-btn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 16px 5px;
    display: block;
    text-align: center;
    max-width: 190px;
}

.banner-btn:hover {
    color: brown;
    border: 2px solid brown;
    background: linear-gradient(#e56729, #d4da2a, #26b7e3);
}

.page {
    padding-top: 70px;
    padding-bottom: 75px;
}

.page-title {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 127px;
    padding-left: 127px;
}

.page-title::before,
.page-title::after {
    content: '';
    background-image: url("../img/item.png");
    position: absolute;
    top: calc(50% - 14px);
    display: block;
    width: 102px;
    height: 28px;
}

.page-title::before {
    left: 0;
}

.page-title::after {
    right: 0;
}

.page-title + .page-desc {
    color: #6c6565;
    font-size: 22px;
    margin: 0;
}

.page-desc {
    line-height: 48px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 38px;
    margin-bottom: 20px;
}

.menu-item {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.menu-item::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #817e7e;
    position: absolute;
    left: 0;
}

.menu-item:first-child::before {
    display: none;
}

.menu-item_link {
    text-decoration: none;
    color: #605f5f;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.menu-item_link.active {
    border-bottom: 4px solid #dada1f;
    position: relative;
}

.menu-item_link.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid #eaea1d;
}

.box {
    display: flex;
    justify-content: space-between;
    border-color: #f0cbcb;
    box-shadow: 0px 5px 3p 0px rgba(0, 0, 0, 0.5);
    height: 550px;
    margin-top: 55px;
}

.box-item {
    height: 275px;
    padding-left: 52px;
    padding-top: 94px;
    padding-bottom: 56px;
    background-color: #f6c5c5;
    box-sizing: content-box;
}

.number-item {
    color: #343333;
    font-size: 100px;
    font-weight: 800;
    line-height: 0.2;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.number-item::after {
    content: '';
    display: block;
    position: absolute;
}

.number-one::after {
    background-image: url("../img/icons/climb-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}

.number-two::after {
    background-image: url("../img/icons/bookmark-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
    width: 154px;
    height: 81px;
    left: 88px;
    top: calc(50% - 35px);
}

.number-three::after {
    background-image: url("../img/icons/live-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
    width: 142px;
    height: 94px;
    left: 94px;
    top: calc(50% - 35px);
}

.box-text {
    padding-right: 55px;
    border-right: 1px solid #555555;
}

.box-item:nth-child(3) .box-text {
    border-right: none;
}

.box-text_desc {
    font-size: 26px;
    color: #343333;
    margin-top: 30px;
    margin-bottom: 32px;
    line-height: 34px;
}

.box-text_title {
    color: #343333;
    font-size: 44px;
    line-height: 24px;
    padding-top: 38px;
    margin-bottom: 22px;
}

.btn-central-item {
   position: absolute;
   top: 100%;
   left: 50%;
   text-decoration: none;
   color: #282828;
   border-top: 2px solid #484646;
   border-bottom: 2px solid #484646;
   font-family: Arial, Helvetica, sans-serif;
   transform: translate(-50%, -50%);
   letter-spacing: 1px;
   padding: 15px 0;
   font-size: 24px;
   transition: 0.5s cubic-bezier(.27, .45, .17, 1.65);
}

.footer {
    background-color: #34f581;
    padding: 44px 0;
    color: #fff;
    text-decoration: uppercase;
    font-size: 20px;
    text-align: center;
}

.central {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-central {
    border: none;
    outline: none;
    height: 60px;
    color: #fff;
    font-weight: 800;
    width: 340px;
    background: #d66da9;
    font-size: 36px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.button-central:hover {
    cursor: pointer;
    background: #d783b3;
    box-shadow: 0px 0px 5px 0px #d783b3, 0px 0px 20px 0px #d783b3, 0px 0px 60px 0px #d783b3, 0px 0px 150px 0px #d783b3;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }

    .banner-camera {
        display: none;
    }

    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }
    
    .page {
        height: 2000px;
    }

    .page-title + .page-desc {
        font-size: 35px;
    }

    .header-logo {
        display: none;
    }

    .menu-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .box {
        flex-direction: column;
    }

    .box-item {
        padding: 30px 52px 26px 52px;
        border-bottom: 1px solid #ede8d8;
    }

    .box-item:last-child {
        border-bottom: none;
    }

    .box-text {
        border-right: none;
        padding-right: 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid #f1e9f1;
    }

    .box-item:nth-child(3) .box-text {
        border-bottom: none;
    }

    .central {
        margin-top: 570px;
    }

    .page-title {
        padding-right: 290px;
        padding-left: 40px;
    }

    .menu-item_link.active {
        border-bottom: none;
    }

    .menu-item_link.active::before {
        border-bottom: none;
    }
}

@media (max-width: 750px) {
    .navigation {
        flex-direction: column;
    }

    .nav {
        margin-bottom: 30px;
    }

    .page-title::before, 
    .page-title::after {
        display: none;
    }
}

